.nav {
  height: 90px;

  grid-column: 1/-1;
  grid-row: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .message {
    font-size: 1.3rem;
  }

  .buttonsContainer {
    display: flex;
    flex-flow: row nowrap;
    .button {
      cursor: pointer;
      margin-top: 8px;
      border-radius: 4px;
      padding: 8px 32px;
      font-size: 1.1rem;
      background: transparent;
      border: 2px solid #000;
      color: #000;

      transition: border-color 200ms ease-in-out, color 200ms ease-in-out, opacity 200ms ease-in-out;

      &:hover,
      &:focus,
      &:active {
        border-color: rgba(#000, 0.6);
        color: rgba(#000, 0.6);
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}